In [ ]:
# All import statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno
from bs4 import BeautifulSoup
from datetime import datetime
import re
import nltk
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
import pickle
from scipy.sparse import hstack
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import cohen_kappa_score
from xgboost import XGBClassifier
from sklearn.preprocessing import StandardScaler
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
home_path = '/content/drive/MyDrive/crowdflower/'

In [ ]:
os.listdir(home_path+'/data')

['product_title_tfidf_ngram.zip',
 'dataframes.pkl',
 'product_description_tfidf.pkl',
 'product_description_tfidf_ngram.pkl',
 'product_description_tfidf_w2v.pkl',
 'product_description_w2v.pkl',
 'count_features.csv',
 'product_title_tfidf.pkl',
 'product_title_tfidf_ngram.pkl',
 'product_title_tfidf_w2v.pkl',
 'product_title_vectorizer.pkl',
 'product_title_w2v.pkl',
 'query_ohe.pkl',
 'tfidf_ngram_product_description_vectorizer.pkl',
 'tfidf_product_description_vectorizer.pkl',
 'clean_text.pkl',
 'product_title_tfidf_w2v.zip',
 'main_df.pkl']

In [ ]:
count_features= pd.read_csv(home_path+'data/count_features.csv')

In [ ]:
count_features.head(15)

    id                      query  ... global_average global_std
0    1  bridal shower decorations  ...       3.309805   0.980618
1    2       led christmas lights  ...       3.309805   0.980618
2    4                  projector  ...       3.309805   0.980618
3    5                  wine rack  ...       3.309805   0.980618
4    7                 light bulb  ...       3.309805   0.980618
5    8     oakley polarized radar  ...       3.309805   0.980618
6   10            boyfriend jeans  ...       3.309805   0.980618
7   13   screen protector samsung  ...       3.309805   0.980618
8   17          pots and pans set  ...       3.309805   0.980618
9   20               waffle maker  ...       3.309805   0.980618
10  28               oakley radar  ...       3.309805   0.980618
11  31  workout clothes for women  ...       3.309805   0.980618
12  32         decorative pillows  ...       3.309805   0.980618
13  35                wall clocks  ...       3.309805   0.980618
14  46     cuisinart coffee maker  ...       3.309805   0.980618

[15 rows x 299 columns]

In [ ]:
df_train, df_cv, df_test = pickle.load(open(home_path+'data/dataframes.pkl','rb'))

In [ ]:
df_train.head()

         id  ... query_product_title_words_overlap
4540  14669  ...                               0.0
4473  14434  ...                               1.0
385    1249  ...                               1.0
1756   5648  ...                               1.0
9404  30256  ...                               0.0

[5 rows x 16 columns]

### Loading query column data

In [ ]:
query_train, query_cv, query_test = pickle.load(open(home_path+'data/query_ohe.pkl','rb'))

### Loading product title data

In [ ]:
product_title_tfidf_train, product_title_tfidf_cv, product_title_tfidf_test = pickle.load(
    open(home_path+'data/product_title_tfidf.pkl','rb'))

In [ ]:
tfidf_product_title_vectorizer = pickle.load(open(home_path+'data/product_title_vectorizer.pkl','rb'))

/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.24.0 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.24.0 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [ ]:
product_title_tfidf_ngram_train, product_title_tfidf_ngram_cv, product_title_tfidf_ngram_test = pickle.load(
    open(home_path+'data/product_title_tfidf_ngram.pkl','rb'))

In [ ]:
product_title_w2v_train, product_title_w2v_cv, product_title_w2v_test= pickle.load(open(home_path+'data/product_title_w2v.pkl','rb'))

In [ ]:
product_title_tfidf_w2v_train, product_title_tfidf_w2v_cv, product_title_tfidf_w2v_test= pickle.load(
    open(home_path+'data/product_title_tfidf_w2v.pkl','rb'))

### Loading product description data

In [ ]:
product_description_tfidf_train, product_description_tfidf_cv, product_description_tfidf_test= pickle.load(
    open(home_path+'data/product_description_tfidf.pkl','rb'))

In [ ]:
tfidf_product_description_vectorizer = pickle.load(
    open(home_path+'data/tfidf_product_description_vectorizer.pkl','rb'))

/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.24.0 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.24.0 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [ ]:
product_description_tfidf_ngram_train, product_description_tfidf_ngram_cv, product_description_tfidf_ngram_test= pickle.load(
    open(home_path+'data/product_description_tfidf_ngram.pkl','rb'))

In [ ]:
tfidf_product_description_vectorizer = pickle.load(
    open(home_path+'data/tfidf_product_description_vectorizer.pkl','rb'))

/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.24.0 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.24.0 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [ ]:
product_description_w2v_train, product_description_w2v_cv, product_description_w2v_test= pickle.load(
    open(home_path+'data/product_description_w2v.pkl','rb'))

In [ ]:
product_description_tfidf_w2v_cv, product_description_tfidf_w2v_cv, product_description_tfidf_w2v_test= pickle.load(
    open(home_path+'data/product_description_tfidf_w2v.pkl','rb'))

## Combination - 1

OHE on query data + product_title(TFIDF) + product_description(TFIDF)

In [ ]:
df_train.head(2)

         id  ... query_product_title_words_overlap
4540  14669  ...                               0.0
4473  14434  ...                               1.0

[2 rows x 16 columns]

In [ ]:
count_features.head(2)

   id                      query  ... global_average global_std
0   1  bridal shower decorations  ...       3.309805   0.980618
1   2       led christmas lights  ...       3.309805   0.980618

[2 rows x 299 columns]

In [ ]:
count_features.drop(['query','product_title',
                        'product_description','median_relevance','relevance_variance','query_unigram',
                        'title_unigram','description_unigram','query_bigram','title_bigram','description_bigram',
                        'query_trigram','title_trigram','description_trigram','cleaned_query','cleaned_product_title',
                     'cleaned_product_description','ste_cleaned_product_title','ste_cleaned_product_description',
                     'product_description_len','product_title_len','cleaned_query1'
                        ],axis = 1,inplace=True)

In [ ]:
df_train_data = pd.merge(df_train,count_features,how='inner',on = 'id')
df_cv_data = pd.merge(df_cv,count_features,how='inner',on = 'id')
df_test_data = pd.merge(df_test,count_features,how='inner',on = 'id')

In [ ]:
to_drop = ['id','query','product_title','product_description',
                     'median_relevance','cleaned_query','cleaned_product_title','cleaned_product_description',
           'ste_cleaned_product_title','ste_cleaned_product_description','relevance_variance','cleaned_query1']
df_train_data.drop(to_drop,axis = 1,inplace=True)
df_cv_data.drop(to_drop,axis = 1,inplace=True)
df_test_data.drop(to_drop,axis = 1,inplace=True)

In [ ]:
y_train = df_train['median_relevance']
y_cv =    df_cv['median_relevance']
y_test =  df_test['median_relevance']

In [ ]:
df_train_data.head()

   product_description_len  product_title_len  ...  global_average  global_std
0                       35                 65  ...        3.309805    0.980618
1                       53                224  ...        3.309805    0.980618
2                       64                  0  ...        3.309805    0.980618
3                       69                  0  ...        3.309805    0.980618
4                       35                208  ...        3.309805    0.980618

[5 rows x 280 columns]

In [ ]:
df_train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7338 entries, 0 to 7337
Columns: 280 entries, product_description_len to global_std
dtypes: float64(216), int64(64)
memory usage: 15.7 MB

In [ ]:
X_train = hstack((query_train,product_title_tfidf_train,product_description_tfidf_train,df_train_data))
X_cv = hstack((query_cv,product_title_tfidf_cv,product_description_tfidf_cv,df_cv_data))
X_test = hstack((query_test,product_title_tfidf_test,product_description_tfidf_test,df_test_data))

In [ ]:
X_train.shape

(7338, 10110)

In [ ]:
X_cv.shape

(1296, 10110)

In [ ]:
X_test.shape

(1524, 10110)

## XGBoost regressor model

In [ ]:
scaler = StandardScaler()

In [ ]:
X_train_c = scaler.fit_transform(X_train.toarray())
X_cv_c = scaler.transform(X_cv.toarray())
X_test_c = scaler.transform(X_test.toarray())

In [ ]:
import numpy as np 
import pandas as pd 
import xgboost as xg 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error as MSE 
  


  

  
# Instantiation 
xgb_r = xg.XGBRegressor(objective ='reg:squarederror', 
                  n_estimators = 400, seed = 123) 
  
# Fitting the model 
xgb_r.fit(X_train_c, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=400,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=123, silent=None, subsample=1, verbosity=1)

In [ ]:
pred = xgb_r.predict(X_train_c) 
pred1 = np.round(pred)
cohen_kappa_score(y_train,pred1,weights = 'quadratic')

0.7159153062956104

In [ ]:
pred = xgb_r.predict(X_cv_c) 
pred1 = np.round(pred)
print(cohen_kappa_score(y_cv,pred1,weights = 'quadratic'))
pred1 = np.ceil(pred)
print(cohen_kappa_score(y_cv,pred1,weights = 'quadratic'))
pred1 = np.floor(pred)
print(cohen_kappa_score(y_cv,pred1,weights = 'quadratic'))

0.5496575121579959
0.4217883009292712
0.3687810926999556

## SVD - SVM

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.decomposition import TruncatedSVD
from sklearn import decomposition, pipeline, metrics
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

In [ ]:
# https://www.kaggle.com/abhishek/beating-the-benchmark
scl = StandardScaler()
for component in [460]:
  for C in [11]:

    svd = TruncatedSVD(n_components=component)
    svd.fit(X_train)
    X_train_svd = svd.transform(X_train)
    X_cv_svd = svd.transform(X_cv)
    scl.fit(X_train_svd)
    X_train_sc = scl.transform(X_train_svd)
    X_cv_sc = scl.transform(X_cv_svd)
    svm_model  = SVC(C = C)
    svm_model.fit(X_train_sc,y_train)
    train_pred = svm_model.predict(X_train_sc)
    cv_pred = svm_model.predict(X_cv_sc)
    print(component,C,)
    print(cohen_kappa_score(y_train,train_pred,weights = 'quadratic'))
    print(cohen_kappa_score(y_cv,cv_pred,weights = 'quadratic'))
    print('*'*50)

460 11
0.9740922382090349
0.5920857954179954
**************************************************

In [ ]:
svd = TruncatedSVD()

# Initialize the standard scaler 
scl = StandardScaler()

# We will use SVM here..
svm_model = SVC()

# Create the pipeline 
clf = pipeline.Pipeline([('svd', svd),
              ('scl', scl),
                        ('svm', svm_model)])

# Create a parameter grid to search for best parameters for everything in the pipeline
param_grid = {'svd__n_components' : [200, 400],
              'svm__C': [10, 12]}

# Kappa Scorer 
kappa_scorer = metrics.make_scorer(cohen_kappa_score,weights = 'quadratic', greater_is_better = True)

# Initialize Grid Search Model
model = GridSearchCV(estimator = clf, param_grid=param_grid, scoring=kappa_scorer,
                                  verbose=10, n_jobs=-1, iid=True, refit=True, cv=2)
                                  
# Fit Grid Search Model
model.fit(X_train, y_train)
print("Best score: %0.3f" % model.best_score_)
print("Best parameters set:")
best_parameters = model.best_estimator_.get_params()
for param_name in sorted(param_grid.keys()):
  print("\t%s: %r" % (param_name, best_parameters[param_name]))

Fitting 2 folds for each of 4 candidates, totalling 8 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:   35.7s
[Parallel(n_jobs=-1)]: Done   6 out of   8 | elapsed:  1.2min remaining:   23.1s
[Parallel(n_jobs=-1)]: Done   8 out of   8 | elapsed:  1.7min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   8 out of   8 | elapsed:  1.7min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

Best score: 0.587
Best parameters set:
	svd__n_components: 400
	svm__C: 12

In [ ]:
pred = model.predict(X_cv) 
# pred1 = np.round(pred)
print(cohen_kappa_score(y_cv,pred,weights = 'quadratic'))
pred = model.predict(X_test) 
# pred1 = np.round(pred)
print(cohen_kappa_score(y_test,pred,weights = 'quadratic'))

0.5954775900497742
0.6136291958598241

## Combination - 2
Query category + Product_title TFIDF_n_gram + Product_description TFIDF_n_gram

In [ ]:
product_title_tfidf_ngram_train.shape

In [ ]:
X_train = hstack((query_train,product_title_tfidf_ngram_train,product_description_tfidf_ngram_train,df_train_data))
X_cv = hstack((query_cv,product_title_tfidf_ngram_cv,product_description_tfidf_ngram_cv,df_cv_data))
X_test = hstack((query_test,product_title_tfidf_ngram_test,product_description_tfidf_ngram_test,df_test_data))

In [ ]:
X_train.head(2)

In [ ]:
scl = StandardScaler()
for component in [560]:
  for C in [11]:

    svd = TruncatedSVD(n_components=component)
    svd.fit(X_train)
    X_train_svd = svd.transform(X_train)
    X_cv_svd = svd.transform(X_cv)
    scl.fit(X_train_svd)
    X_train_sc = scl.transform(X_train_svd)
    X_cv_sc = scl.transform(X_cv_svd)
    svm_model  = SVC(C = C)
    print('Training SVC')
    svm_model.fit(X_train_sc,y_train)
    train_pred = svm_model.predict(X_train_sc)
    cv_pred = svm_model.predict(X_cv_sc)
    print(component,C,)
    print(cohen_kappa_score(y_train,train_pred,weights = 'quadratic'))
    print(cohen_kappa_score(y_cv,cv_pred,weights = 'quadratic'))
    print('*'*50)

Training SVC
560 11
0.9807178097783551
0.5683671756559088
**************************************************

The model is overfitting if we are using n_gram based TFIDF vectors.